@font-face {
    font-family: 'Red Hat Display';
    src: url('../fonts/RedHatDisplay-Bold.woff2') format('woff2'),
        url('../fonts/RedHatDisplay-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Gelion';
    src: url('../fonts/Gelion-Regular.woff2') format('woff2'),
        url('../fonts/Gelion-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Gelion';
    src: url('../fonts/Gelion-Medium.woff2') format('woff2'),
        url('../fonts/Gelion-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}



@font-face {
    font-family: 'Gelion';
    src: url('../fonts/Gelion-Bold.woff2') format('woff2'),
        url('../fonts/Gelion-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Gelion Semi';
    src: url('../fonts/Gelion-SemiBold.woff2') format('woff2'),
        url('../fonts/Gelion-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.woff?k5669p') format('woff'),
        url('../fonts/icomoon.woff2?k5669p') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak-as: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-twitter:before {
    content: "\f099";
}

.icon-facebook:before {
    content: "\f09a";
}

.icon-facebook-f:before {
    content: "\f09a";
}

.icon-youtube-play:before {
    content: "\f16a";
}

.icon-vimeo:before {
    content: "\f27d";
}